[submodule "app/Redux/Models"]
	path = app/Redux/Models
	url = https://github.com/reactarchitect/Models.git
[submodule "app/Redux/Plugins"]
	path = app/Redux/Plugins
	url = https://github.com/reactarchitect/Plugins.git
[submodule "app/Redux/Filters"]
	path = app/Redux/Filters
	url = https://github.com/reactarchitect/Filters.git
[submodule "app/Utils/API"]
	path = app/Utils/API
	url = https://github.com/reactarchitect/API.git
